body {
	background-color: #6f7882;
	font-family: Gill Sans Extrabold, sans-serif;
	line-height: 1.4em;
	margin: 0px;
}

.wrapper {
	max-width: 900px;
	margin: auto;
	border: 2px solid #000000;
	background-color: #ffffff;
	border-radius: 20px;
}

header {
	height: auto;
}

h1 {
	margin: 20px;
	font-size: 25px;
}

h2 {
	margin: 10px;
}

p {
	margin: 10px;
	text-align: justify;
}

form {
	margin: 10px;
}

section {
	min-height: 400px;
	border-radius: 20px;
}

footer {
	color: #ffffff;
	background-color: #333;
	height: 30px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

nav li {
    float: left;
}

nav li a, .dropbtn {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav li a:hover, .dropdown:hover .dropbtn {
    background-color: red;
}

nav li.dropdown {
    display: inline-block;
}

.current {
	background-color: red;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
    display: block;
}

footer {
	font-size: 80%;
	padding: 10px 0px 0px 20px;
	border-radius: 0px 0px 20px 20px;
}
